@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*-----------------------------Nav bar design ------------------------*/

.nav-bar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-left: 3rem;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.nav-bar a {
  text-decoration: none;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.nav-bar a.active {
  color: whitesmoke;
  background-color: #0290ff;
  padding: 10px;
  font-size: 15px;
}

.logo {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
}

.profile-icon {
  width: 2.813rem;
  margin-right: 1rem;
  height: 2.813rem;
  padding: 0.68rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #e8e8e8;
}

.user-icon {
  width: 1.063rem;
  height: 1.063rem;
  color: #0290ff;
}

.book-wrapper {
  margin: 5rem 3rem 1rem 2rem;
  border-radius: 5px;
  max-width: 40rem;
  background-color: rgb(255, 255, 251);
  padding: 1rem;
  border-bottom: 1px solid black;
}

/*------------------------- Form Styling ------------------------*/

form {
  margin: 0.5rem 2rem 3rem 1rem;
}

form input, #category {
  padding: 0.801rem 3.188rem 0.886rem 3.375rem;
  margin-left: 10px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.submit {
  height: 2.813rem;
  padding: 0.801rem 2.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  margin-left: 20px;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  outline: none;

}
.remove-btn {
  padding: 8px 12px;
  margin: 5px 1.5rem;
  font-size: 18px;
  border: none;
  outline: none;
  background: none;
  text-decoration: underline;
}
