@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&family=Poppins:wght@200&family=Roboto+Slab:wght@200;300;400&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white1: #fff;
  --white2: #fafafa;
  --white3: #e8e8e8;
  --blue: #0290ff;
  --lightgrey: #c4c4c4;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white2);
}

.Roboto {
  font-family: 'Roboto Slab', serif;
}

.black {
  color: #121212;
}

.flex {
  display: flex;
}

/* -----------------------------Nav bar design ------------------------ */

.nav-bar {
  background-color: var(--white1);
  position: fixed;
  max-width: 100%;
  width: 87.5rem;
  top: 0;
  left: 0;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  z-index: 1;
  box-shadow: 3px 4px 5px rgb(217, 217, 217);
}

.nav-bar ul {
  align-items: center;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.nav-bar a {
  text-decoration: none;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

.nav-bar a.active {
  color: whitesmoke;
  background-color: var(--blue);
  padding: 10px;
  font-size: 15px;
}

.logo {
  color: var(--blue);
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  padding-left: 6.25rem;
}

.profile-icon {
  width: 2.513rem;
  margin-right: 5.40rem;
  height: 2.513rem;
  padding: 0.6rem;
  border-radius: 50%;
}

.user-icon {
  width: 1.063rem;
  height: 1.063rem;
  color: var(--blue);
}

/* ------------------------ Book List Style -------------------------- */

.main-wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin: 6.313rem 6.25rem 0;
}

.book-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 74rem;
  height: 10.625rem;
  margin-top: 0.938rem;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white3);
  background-color: var(--white1);
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.btn {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.588rem 0.4rem 0.125rem 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--blue);
  border: none;
  background: none;
}

.border {
  border: solid 1px var(--white3);
}

.left-line {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 0.063rem 0 0.938rem;
}

.progress-bar {
  width: 3.25rem;
  height: 3.25rem;
  margin-right: 2.5rem;
}

.left-line2 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
}

.wrapper {
  align-items: center;
}

.current-chap {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  color: var(--black);
}

.update-btn {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: var(--blue);
  color: var(--white1);
  border: none;
}

.line {
  width: 74rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
}

/* ------------------------- Form Styling ------------------------ */

form {
  margin: 0 2rem 3rem 6.25rem;
}

form input,
#category {
  width: 21rem;
  max-width: 100%;
  padding: 0.801rem 5.188rem 0.886rem 3.375rem;
  margin-left: 10px;
  border-radius: 4px;
  border: solid 1px var(--white3);
  background-color: var(--white1);
}

select,
input::placeholder {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.15px;
  color: var(--lightgrey);
}

.submit {
  height: 2.813rem;
  padding: 0.801rem 2.458rem 0.886rem 2.458rem;
  border-radius: 3px;
  background-color: var(--blue);
  margin-left: 20px;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white1);
  outline: none;
  border: none;
}
